body {
  margin: 0;
  padding: 0;  
  font-family: 'Libre Franklin', sans-serif;
  overflow:hidden;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Space+Mono');

h1 {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
}

.titleSlide {
  margin: 5rem;
}

.titleSlide .title {
  font-size: 120pt;
}

.titleSlide .logo {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-size: 15pt;
}